
.register-all-container {
    background-color: var(--color-white);
    min-height: 90vh;
}

.register-title {
    margin-left: 30px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: var(--color-less-dark);
    font-size: 1.8em;
}

.register-subtitle {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    color: var(--color-less-dark);
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    background-color:var(--color-medium-light);
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#avatarCanvas {
    border-radius: 4px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#changeAvatarButton {
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: var(--color-less-dark);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    min-width: 350px;
}

.error-msg {
    color: tomato;
    overflow-wrap: break-word;

}

.textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    min-width: 300px;
}

.label {
    color: var(--color-less-dark);
    font-weight: 600;
}


.form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    border-bottom: 3px solid var(--color-less-dark);
    color: var(--color-less-dark);
    min-height: 2.5em;
    padding-left: 5px;
    overflow-wrap: break-word;
    white-space: normal;
}

.red-star {
    font-size: 1.5em;
    color: tomato;
}

.form-textarea {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    border-bottom: 3px solid var(--color-less-dark);
    color: var(--color-less-dark);
    height: 3.5em;
    min-width: 300px;
    padding-left: 5px;
}

.button {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: var(--color-less-dark);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    min-width: 350px;
}