<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/footer-styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="footer-container">
        <div class="data-link-container">

            <a class="link" href="/acerca-de-nosotros">Acerca de Nosotros</a><br>
            <a class="link" href="/preguntas-frecuentes">Preguntas Frecuentes</a>

        </div>

        <div class="contact-container">

            <a class="link" href="/contacto">Contacto</a>
            <p>&#169; 2024 Todos los derechos reservados</p>

        </div>

    </div>

</body>
</html>