<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css//partials/header.css">
    <title>Document</title>
</head>
<body>
    <div class="header-container">
        <div class="home-page-link-container">
            <div class="homer-page-link">
                <a class="link" href="/">Vendo Mis Cosas</a>
            </div>
          
        </div>
        <div class="other-links-container">
            <div class="other-links">
                <a href="/productos" class="link">Productos</a>
                <a href="/usuarios" class="link">Usuarios</a>
                <a href="/login" class="link">Login</a>
            </div>

        </div>

    </div>
</body>
</html>



